In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
df_08 = pd.read_csv('all_alpha_08.csv')
df_18 = pd.read_csv('all_alpha_18.csv')

## Number of columns per dataset

In [3]:
df_08.info()
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Stnd                  1611 non-null   object
 8   Stnd Description      1611 non-null   object
 9   Underhood ID          1611 non-null   object
 10  Veh Class             1611 non-null   object
 11  Air Pollution Score   1611 non-null   int64
 12  City MPG              1611 non-null   object
 13  Hwy MPG               1611 non-null   object
 14  Cmb MPG               1611 non-null   object
 15  Greenhouse Gas Score  1611 non-null   int64
 16  SmartWay              1611 non-null   object
 17  Comb CO2              1611 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.7+ KB

## Number of records per dataset

^^^

## Number of duplicate rows

In [4]:
print(f'{df_08.duplicated().sum()} duplicated rows in the 08 dataset.')
print(f'{df_18.duplicated().sum()} duplicated rows in the 18 dataset.')

25 duplicated rows in the 08 dataset.
0 duplicated rows in the 18 dataset.

## Features with missing values

In [5]:
df_08.isnull().sum()

Model                     0
Displ                     0
Cyl                     199
Trans                   199
Drive                    93
Fuel                      0
Sales Area                0
Stnd                      0
Underhood ID              0
Veh Class                 0
Air Pollution Score       0
FE Calc Appr            199
City MPG                199
Hwy MPG                 199
Cmb MPG                 199
Unadj Cmb MPG           199
Greenhouse Gas Score    199
SmartWay                  0
dtype: int64

## Non-null unique values

In [6]:
df_08.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

In [7]:
df_18.nunique().sum()

1217

## Count of unique fuel types

In [8]:
df_08.Fuel.nunique()

5

In [9]:
df_o8.Fuel.value_counts()

NameError: name 'df_o8' is not defined

In [10]:
df_18.Fuel.value_counts()

Gasoline                1492
Ethanol/Gas               55
Diesel                    38
Gasoline/Electricity      24
Electricity                2
Name: Fuel, dtype: int64

## Drop unneeded columns

## Rename 'Sales Area' column in 2008 dataframe

In [11]:
df_08 = df_08.rename(columns=lambda x:x.replace(' ', '_'))
df_18 = df_18.rename(columns=lambda x:x.replace(' ', '_'))
df_08 = df_08.rename(columns={'Sales_Area' : 'Cert_Region', })

## Make more consistent column labels

In [12]:

df_08.Cyl = df_08.Cyl.str.extract('(\d+)')
df_08 = df_08.drop(columns=['FE_Calc_Appr', 'Unadj_Cmb_MPG', 'SmartWay'])
df_18 = df_18.drop(columns=['Stnd_Description', 'SmartWay', 'Comb_CO2'])
df_08 = df_08.query('Cert_Region == "CA"')
df_18 = df_18.query('Cert_Region == "CA"')

# Compare columns names and make sure they're the same

# CHECKPOINT: SAVE EVERYTHING THUS FAR INTO A DATAFRAME

## Only return records with a 'CA' cert_region

In [40]:
df_08

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert_Region,Stnd,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,15,20,17,4
2,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,17,22,19,5
4,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,16,24,19,5
6,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,18,26,21,6
7,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,CA,U2,8HNXV03.5RKR,midsize car,7,17,26,20,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,VOLVO V70,3.2,6,Auto-S6,2WD,Gasoline,CA,U2,8VVXB03.2U2N,station wagon,7,16,24,19,5
2396,VOLVO XC 70,3.2,6,Auto-S6,4WD,Gasoline,CA,U2,8VVXB03.2U2N,SUV,7,15,22,17,4
2398,VOLVO XC 90,3.2,6,Auto-S6,2WD,Gasoline,CA,U2,8VVXB03.2U2N,SUV,7,14,20,16,4
2399,VOLVO XC 90,3.2,6,Auto-S6,4WD,Gasoline,CA,U2,8VVXB03.2U2N,SUV,7,14,20,16,4
2400,VOLVO XC 90,4.4,8,Auto-S6,4WD,Gasoline,CA,U2,8VVXB04.4U2N,SUV,7,13,19,15,3

In [41]:
df_18

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert_Region,Stnd,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,JHNXT03.5GV3,small SUV,3,20,28,23,5
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,JHNXT03.5GV3,small SUV,3,19,27,22,4
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6
6,ACURA TLX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,L3ULEV125,JHNXV03.5LH3,small car,3,20,32,24,5
8,ACURA TLX,3.5,6.0,SemiAuto-9,4WD,Gasoline,CA,L3ULEV125,JHNXV03.5LH3,small car,3,21,30,24,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1601,VOLVO XC 60,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,L3SULEV30,JVVXJ02.0P30,small SUV,7,26/60,28/58,26/59,10
1603,VOLVO XC 90,2.0,4.0,SemiAuto-8,2WD,Gasoline,CA,L3ULEV70,JVVXJ02.0A70,standard SUV,5,22,29,25,5
1605,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,CA,L3ULEV70,JVVXJ02.0A70,standard SUV,5,22,28,24,5
1607,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline,CA,L3ULEV70,JVVXJ02.0B70,standard SUV,5,20,27,23,5
1609,VOLVO XC 90,2.0,4.0,SemiAuto-8,4WD,Gasoline/Electricity,CA,L3SULEV30,JVVXJ02.0P30,standard SUV,7,26/63,30/61,27/62,10

## Drop 'cert_region' column from each df, since our 'cert_region' is implied

In [13]:
df_08 = df_08.drop(columns=['Cert_Region'])
df_18 = df_18.drop(columns=['Cert_Region'])

## Drop records with missing values

In [14]:
df_08 = df_08.dropna()

In [15]:
df_08.isnull().sum()

Model                   0
Displ                   0
Cyl                     0
Trans                   0
Drive                   0
Fuel                    0
Stnd                    0
Underhood_ID            0
Veh_Class               0
Air_Pollution_Score     0
City_MPG                0
Hwy_MPG                 0
Cmb_MPG                 0
Greenhouse_Gas_Score    0
dtype: int64

In [16]:
df_18 = df_18.dropna()

In [17]:
df_18.isnull().sum()

Model                   0
Displ                   0
Cyl                     0
Trans                   0
Drive                   0
Fuel                    0
Stnd                    0
Underhood_ID            0
Veh_Class               0
Air_Pollution_Score     0
City_MPG                0
Hwy_MPG                 0
Cmb_MPG                 0
Greenhouse_Gas_Score    0
dtype: int64

# CHECKPOINT: SAVE EVERYTHING TO .CSV

In [18]:
df_08.to_csv('alpha_08_df.csv')
df_18.to_csv('alpha_18_df.csv')

In [19]:
df_08 = pd.read_csv('alpha_08_df.csv')
df_18 = pd.read_csv('alpha_18_df.csv')

In [20]:
df_08 = df_08.astype({'Cyl':'int64'})
df_18 = df_18.astype({'Air_Pollution_Score':'float64', 'Greenhouse_Gas_Score':'float64', 'Cyl':'int64'})

In [21]:
df_08 = df_08.drop(columns=['Unnamed: 0'])
df_18 = df_18.drop(columns=['Unnamed: 0'])

# CHECKPOINT: SAVE EVERYTHING TO .CSV

## Change datatypes in 'air_pollution' column

## Find records with slashed '/' values and separate them into their own separate records

In [22]:
hybrid_08 = df_08[df_08.Fuel.str.contains('/')]

#### Select all rows with records of slashed values

In [23]:
df1 = hybrid_08.copy()
df2 = hybrid_08.copy()

In [24]:
df1

,Model,Displ,Cyl,Trans,Drive,Fuel,Stnd,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score
595,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,L2,8MBXV03.0U2A,small car,6/4,13/18,19/25,15/21,7/6

In [25]:
df2

,Model,Displ,Cyl,Trans,Drive,Fuel,Stnd,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score
595,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,L2,8MBXV03.0U2A,small car,6/4,13/18,19/25,15/21,7/6

In [26]:
columns_to_split = ['Fuel', 'Air_Pollution_Score', 'City_MPG', 'Hwy_MPG', 'Cmb_MPG', 'Greenhouse_Gas_Score']

In [27]:
for c in columns_to_split:
    df1[c] = df1[c].apply(lambda x:x.split('/')[0])
    df2[c] = df2[c].apply(lambda x:x.split('/')[1])

In [28]:
df1.append(df2)

,Model,Displ,Cyl,Trans,Drive,Fuel,Stnd,Underhood_ID,Veh_Class,Air_Pollution_Score,City_MPG,Hwy_MPG,Cmb_MPG,Greenhouse_Gas_Score
595,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,L2,8MBXV03.0U2A,small car,6,13,19,15,7
595,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,L2,8MBXV03.0U2A,small car,4,18,25,21,6

In [29]:
df_08.drop(hybrid_08.index, inplace=True)
df_08 = df_08.append(df1.append(df2), ignore_index=True)

In [31]:
df_08[df_08.Air_Pollution_Score.str.contains('/')]

Empty DataFrame
Columns: [Model, Displ, Cyl, Trans, Drive, Fuel, Stnd, Underhood_ID, Veh_Class, Air_Pollution_Score, City_MPG, Hwy_MPG, Cmb_MPG, Greenhouse_Gas_Score]
Index: []

### Repeat for 2018

In [32]:
hybrid_18 = df_18[df_18.Fuel.str.contains('/')]

df1 = hybrid_18.copy()
df2 = hybrid_18.copy()

columns_to_split = ['Fuel', 'City_MPG', 'Hwy_MPG', 'Cmb_MPG']

for c in columns_to_split:
    df1[c] = df1[c].apply(lambda x:x.split('/')[0])
    df2[c] = df2[c].apply(lambda x:x.split('/')[1])
    
df_18.drop(hybrid_18.index, inplace=True)
df_18 = df_18.append(df1.append(df2), ignore_index=True)

In [33]:
df_18[df_18.City_MPG.str.contains('/')]

Empty DataFrame
Columns: [Model, Displ, Cyl, Trans, Drive, Fuel, Stnd, Underhood_ID, Veh_Class, Air_Pollution_Score, City_MPG, Hwy_MPG, Cmb_MPG, Greenhouse_Gas_Score]
Index: []

In [34]:
df_08.Fuel.value_counts()

Gasoline    1007
ethanol        1
CNG            1
gas            1
Name: Fuel, dtype: int64

In [35]:
df_18.Fuel.value_counts()

Gasoline       752
Ethanol         26
Gas             26
Diesel          19
Electricity     12
Name: Fuel, dtype: int64

## Gas/Gasoline?

In [36]:
df_18['Fuel'] = df_18['Fuel'].apply(lambda x: x.replace('Gas', 'Gasoline'))
df_08['Fuel'] = df_08['Fuel'].apply(lambda x: x.replace('gas', 'Gasoline'))

In [37]:
df_18['Fuel'] = df_18['Fuel'].apply(lambda x: x.replace('Gasolineoline', 'Gasoline'))

## Fix `*_mpg, greenhouse_gas_score and air_pollution_score` datatypes

In [51]:
df_08 = df_08.astype({'Air_Pollution_Score':'float64', 'Greenhouse_Gas_Score':'float64', 'City_MPG':'float64', 'Hwy_MPG':'float64', 'Cmb_MPG':'float'})
df_18 = df_18.astype({'City_MPG':'float64', 'Hwy_MPG':'float64', 'Cmb_MPG':'float'})

# CHECKPOINT: SAVE EVERYTHING

In [52]:
df_08.to_csv('alpha_08_df.csv')
df_18.to_csv('alpha_18_df.csv')

# Create visuals of findings

## Fix `greenhouse_gas_score, air_pollution_score` datatypes

In [53]:
df_08.Fuel.value_counts()

Gasoline    1008
ethanol        1
CNG            1
Name: Fuel, dtype: int64

In [54]:
df_18.Fuel.value_counts()

Gasoline       778
Ethanol         26
Diesel          19
Electricity     12
Name: Fuel, dtype: int64

## How many more car models use alternative fuels in 2018 as opposed to 2008?
* ### May need to Google the answer to find out which fuel types are considered 'alternative'

In [43]:
altfuel_08_count = df_08.query('Fuel != "Gasoline"').count()[0]
altfuel_18_count = df_18.query('Fuel != "Gasoline" and Fuel != "Diesel"').count()[0]
additional_altfuel_cars = altfuel_18_count - altfuel_08_count
print(additional_altfuel_cars)

36

## How much has the average fuel economy improved since 2008?

In [44]:
avg_fuel_economy_increase = df_18['Cmb_MPG'].mean() - df_08['Cmb_MPG'].mean()
print(round(avg_fuel_economy_increase, 2))

4.28

## Which type of vehicle's fuel economy has improved the most since 2008?

In [45]:
midcar = df_18.groupby('Veh_Class').Cmb_MPG.mean().round(2)[1] - df_08.groupby('Veh_Class').Cmb_MPG.mean().round(2)[2]
print(midcar.round(2))

6.26

#### (2008) Average fuel economy by vehicle type

In [47]:
df_08.groupby('Veh_Class').Cmb_MPG.mean().round(2)

Veh_Class
SUV              18.47
large car        18.51
midsize car      21.57
minivan          19.12
pickup           16.39
small car        21.06
station wagon    22.37
van              14.83
Name: Cmb_MPG, dtype: float64

#### (2018) Average fuel economy by vehicle type

In [48]:
df_18.groupby('Veh_Class').Cmb_MPG.mean().round(2)

Veh_Class
large car          23.41
midsize car        27.83
minivan            20.80
pickup             18.59
small SUV          24.07
small car          25.42
special purpose    18.50
standard SUV       18.16
station wagon      27.63
Name: Cmb_MPG, dtype: float64

## Which model has the highest `air_pollution_score` and fuel economy in 2008 and 2018? Compare them.

In [55]:
bestAPS_18 = df_18.iloc[df_18['Air_Pollution_Score'].idxmax()]
bestAPS_08 = df_08.iloc[df_08['Air_Pollution_Score'].idxmax()]
bestFE_18 = df_18.iloc[df_18['Cmb_MPG'].idxmax()]
bestFE_08 = df_08.iloc[df_08['Cmb_MPG'].idxmax()]

In [56]:
print(bestFE_18)

Model                   CHEVROLET Volt
Displ                              1.5
Cyl                                  4
Trans                              CVT
Drive                              2WD
Fuel                       Electricity
Stnd                         L3ULEV125
Underhood_ID              JGMXV01.5020
Veh_Class                    small car
Air_Pollution_Score                  3
City_MPG                           113
Hwy_MPG                             99
Cmb_MPG                            106
Greenhouse_Gas_Score                10
Name: 809, dtype: object

Conclusion: 2008 best air pollution score is better than 2018 best air pollution score (BMW 328i (9.5) > Audi A3 (7.0))

(Weird DataSet. Discussed in Class)